notebook.frame {
  border-style: none;
}

notebook tab {
  min-height: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  font-weight: normal;
  margin: 0px;
  margin-left: -5px;
  margin-right: -5px;
}

notebook tab button {
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: normal;
}

notebook button {
  min-height: 0px;
  min-width: 0px;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}

